.clearfix::after {
  clear: both
}
body {
    background-color: rgb(188, 197, 201);
    color: rgb(69, 69, 70);
    font-family: 'Anton', sans-serif;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  color: rgb(236, 203, 13);
  text-shadow: 0 0 3px rgb(8, 0, 0), 0 0 5px rgb(202, 103, 90);
}
.jumbotron {
    height: 300px;
    align-content: center;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: rgb(236, 203, 13);
    text-shadow: 0 0 3px rgb(8, 0, 0), 0 0 5px rgb(202, 103, 90);
    background-image: url(../img/burger.jpeg);
    background-color: rgb(47, 137, 179);
    border: 5px solid rgb(250, 224, 109);
}
.display-4 {
  padding: top 0px;
  margin: top 0px;
}
img {
  height: 275px;
  border: 5px solid black;
}
.col-lg-6 {
  float: left;
  margin-left: 3%;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: rgb(231, 143, 28);
  border: 5px solid rgb(31, 182, 187);
}
.col-lg-5 {
    float: left;
    margin-left: 3%;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: rgb(31, 182, 187);
    border: 5px solid rgb(231, 143, 28);
}
#special-burger{
  align-content: center;
    text-align: center;
}
li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.form-group {
  margin-bottom: 5px;
}
button {
    background-color: rgb(202, 103, 90);
}

/* font-family: 'Chilanka', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Permanent Marker', cursive; */

  